body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    

}

.topbar{
    background-color: black;
    width: 100%;
    height: 35px;
    color:whitesmoke;
    position:sticky;
    top: 0;

}


.topbar th{
text-align: left;
vertical-align: middle;
font-size: smaller;
}


#logo{
    border-bottom: black 3px solid;
    text-align: center;
    padding-top: 10px;

}
.secend-menu{
    display:inline-table;



}
.secend-menu section{
    float: left;
    margin:10px 2px;
    padding: 0px 10px;

}
.secend-menu td{
    margin: 5px 15px 0px 0px;
    padding-top: 10px;   
    opacity: 0.5;
    word-spacing: 5px;
}

 
.big-art{
    width:45%;
    height: 520px;
    padding: 20px;
    text-align: left;
  
    padding-top: 20px;
    margin-bottom:20px;
    float: left;
   text-align: center;
}


.chart table{
        border-top: .5px solid black;
        border-bottom: .5px solid black;

        width: 100%;
        margin-bottom: 10px;
        border-collapse: collapse;
        text-align: center;
        padding: 5px;

}

.chart td{
     padding-top: 20px;
}

div a{
    text-decoration: none;
    color: black;
}




.articale{
    width: 24%;
    height: 380px;
    float: left;
    text-align:left;
    margin:5px;
}

.articale-3{
    width: 18%;
    height: 300px;
    float: left;
    padding:5px;
    margin: 5px;



}
.collamhead{
    font-size: 28px;
    border-top: black 3px solid;
    display: block;
    float: initial;
    height: 50px;
    
}

.bk-to-top{
    width: 100%;
    height: 100px;
    margin-top: 10px;
    text-align: center;
    padding-top: 20px;
}

.footer{
    width: 100%;
  

}